* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: slategray; 
}

.question-container {
  border: 3px solid black;
  background-color: grey;
  padding: 20px;
  padding: 40px;
  margin: 20px;
  text-align: center;  
}

h1 {
  font-size: 2rem;
}

h2, h3 {
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
}

header {
  border: 4px solid black;
  padding: 40px;
  margin: 20px;
  text-align: center;
  background: grey;
}

p {
  font-size: 1.1rem;
  padding: 10px 10px;
  margin: 10px, 10px;
  font-weight: bold;  
}

.initials-container {
  display: none;
}