* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  border: 4px solid red;
  padding: 40px;
  margin: 20px;
  text-align: center;
  background: pink;
}

.title {
  font-size: 2rem;  
}

p {
  font-size: 1.1rem;
  padding: 20px 20px;
}

.card {  
  border: 4px solid red;
  padding: 40px;
  margin: 20px;
  text-align: center;
  background: pink;
}