body {
    background-color: #eff5f8       /* Change color */
  }  
 
  .container {
    display: block;
    margin: 80px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;      /* Change color */
  }
   
  button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 1.75rem;
    background-color: #247BA0;      /* Change color */
    color: white;                   /* Change color */
  }

  #count {
    margin-right: 20px;
    font-size: 1.25rem;
    color: black;
  }
