* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: pink;
}

.reset-button {
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 20px 20px;
}

.correct-incorrect-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  background: blue;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-size: 2em;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-bottom:30px #879274;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  background-color: white;
  border-radius: 8px;
}

.large-font {
  font-size: 3.5em;
  text-align:center;
}

.results {
  width: 30vw;
  height: 400px;
}

.card {
  background: white;
  border: 1px solid #eceff1;
  border-radius: 8px;
  margin: auto;
  padding: 20px;
}

.timer {
  height: 240px;
  padding: 10px;
  background: #13293d;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;
    
  }

  .timer {
    height: 200px;
  }