body {
    background-color: #eff5f8       /* Change color */
  }  
 
  .container {
    display: block;
    margin: 80px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;      /* Change color */
  }
  
  .wrapper {
    padding-top: 20px;
  }
  
  .card-contents {
    padding: 5px 5px 10px 5px;
  }
  
  button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 2rem;
    background-color: #247BA0;      /* Change color */
    color: white;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 20px;
  }

  p {
    font-size: 1.25rem;
  }